{% extends "main.html" %}

{% block title %} Latest Readings {% endblock %}

{% block content %}
<div class="latest-readings">
    <div class="settings">
        <form>
            <select type="select" class="temp-type">
                <option value='f'>Fahrenheit</option> 
                <option value='c'>Celcius</option> 
            </select>
        </form>
    </div>
    <div class="row">
        <div class="span6">
            <h1>Temperature</h1>
        </div>
        <div class="span6">
            <h1>Gravity</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6 temp"></div>
        <div class="span6 gravity"></div>
    </div>
</div>
{% endblock %}
