<!DOCTYPE html>
<html>
  <head>
    <title>RaspBEERyPi</title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/beer.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/jquery-1.8.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/beer.js"></script>

  </head>
  <body>
    <div class="container">
        <div class="hero-unit">
            <h1>Latest Readings</h1>
            <div class="latest-readings">Loading...</div>
        </div>
    </div>
  </body>
</html>
